.header { grid-area: header; }

.main { grid-area: main; }

.footer { grid-area: footer; }

.container {
    display: grid;
    grid-template-areas:
            'header header'
            'menu main'
            'menu main';
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 4px;
    background-color: rgb(44, 44, 75);
    padding: 10px;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}
